<html>
{% include "head.html" %}
<body>
{% include "navCoverMode.html" %}

<div id="slider"></div>

{% include "pageHeader.html" %}
{% include "listview/searchtoolsv3.html" %}

{% include "listview/mainContent.html" %}    
  <hr>
<div class="coverflow">
	{% for book in allbooks %}
    <div class ="cover"> 
        <img src="{{book.GR_image_url}}" style="display: block; border: 0px;"> 
        <div><a href="#" data-toggle="modal" data-target="#{{book.goodreads_ID}}"><span class="label label-primary" style="margin-top:10px;float:left;">More info</button></a> 
       <div style="float:right;margin-top:0px;"> <h4>{{book.genre}} | {{book.rating}} Stars</h4></div></div>
    </div>
    {% endfor %}
</div>


{% include "modal.html" %}

<!-- End code for the modal -->
<br><br><br><br>
<script>
    $(function() {
        $('.coverflow').coverflow({
          density:2,
          duration:"slow",
          enableWheel: false
        });

        $('.rating').starRating({
          starSize: 15,
          readOnly: true
        })
    });
</script>
{% include "listview/footer.html" %}
</body>
</html>