<head>

    <title>BookBadger | Find a Bestseller</title>

    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
          

    {% load staticfiles %}
    
    <!-- Jquery files -->
    <script src="{% static 'listview/jquery/jquery.min.js' %}"></script>
    <!-- // <script src="{% static 'listview/jquery-ui/jquery-ui.min.js' %}"></script> -->
    


    <!-- Template files -->
    <!-- stylesheets -->
        <link rel="stylesheet" href="{% static 'listview/template/assets/css/bootstrap.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'listview/template/assets/font_icon/css/pe-icon-7-stroke.css' %}"/>
        <link rel="stylesheet" href="{% static 'listview/template/assets/font_icon/css/helper.css' %}">
        <link rel="stylesheet" href="{% static 'listview/template/assets/css/owl.carousel.css'  %}">
        <link rel="stylesheet" href="{% static 'listview/template/assets/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'listview/template/assets/css/animate.css' %}">
        <link rel="stylesheet" href="{% static 'listview/template/assets/css/style.css'  %}">

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500|Lato:300,400,700,900,300italic,400italic,700italic,900italic|Raleway:400,200,300,500,100|Titillium+Web:400,200,300italic,300,200italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <script src="{% static 'listview/template/assets/js/modernizr.js' %}"></script>
    
    <link rel="stylesheet" type="text/css" href="{% static 'listview/sortable-theme-bootstrap.css' %}" />

     <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="{% static 'listview/sorttable.js' %}"></script>
    
    <!-- Coverflow files -->
    <script src="{% static 'listview/jquery.coverflow.js' %}"></script>
    
    <!-- Slider files -->
    <link href="{% static 'listview/iThing.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'listview/jquery-ui/themes/smoothness/jquery-ui.css' %}" rel="stylesheet" type="text/css" />  
    
    <!-- Date picker files -->
    <link href="{% static 'listview/datepicker/css/datepicker.css' %}" rel="stylesheet" type="text/css"/>
    <script src="{% static 'listview/datepicker/js/bootstrap-datepicker.js' %}"></script>


    <!-- StarRating files -->
    <link rel="stylesheet" href="{% static 'listview/svg-star-rating/src/css/star-rating-svg.css' %}">
    <script src="{% static 'listview/svg-star-rating/src/jquery.star-rating-svg.js' %}"></script>

</head>