        <script src="static/listview/template/assets/js/jquery-2.1.3.min.js"></script>
        <script src="static/listview/template/assets/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
        <script src="static/listview/template/assets/js/jquery.actual.min.js"></script>
        <script src="static/listview/template/assets/js/smooth-scroll.js"></script>
        <script src="static/listview/template/assets/js/owl.carousel.js"></script>
        <script src="static/listview/templateassets/js/script.js"></script>