<html>
  {% include "head.html" %}
  <body>
    
  {% include "nav.html" %}
   {% include "pageHeader.html" %}
   {% include "listview/searchtoolsv3.html" %}
  {% include "listview/mainContent.html" %}
  <hr>
    <section class="container-fluid" id="section2">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
           
            <br> 
        </div>
      </div>
    </section>
     {% include "listview/footer.html" %}

    <!-- jQuery -->
    <!-- // <script src="static/listview/Template/js/jquery.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="static/listview/Template/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/listview/Template/js/clean-blog.min.js"></script>
    <!-- Bootstrap select -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="static/listview/bootstrap-select/js/bootstrap-select.js"></script>
    </body>
    <script src="listview/datepicker/js/bootstrap-datepicker.js"></script>

</html>
