{% for book in allbooks %}
  <div class="bs-component">
    <div class="modal" id="{{book.goodreads_ID}}">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title"> More information</h4>
          </div>
          <div class="modal-body">
            <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="{{book.GR_image_url}}">
                    </a>
                  </div>
                  <div class="media-body">
                    <div class="page-header">
               <h3>{{book.title}}<small><br>by {{book.author}}</small></h3>
                </div>
                    
                 <small>  {{book.NYT_description}}</small>
                     <br><br>
              <h4><a class="btn btn-default" href={{book.goodreads_URL}}>Goodreads Page</a></h4></p>
            </div>
                  </div>
          </div>
     
          
            <div class="modal-footer" style="bottom:0px">
          </div>
        
          
           <!--  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
            <!-- <button type="button" class="btn btn-primary">Close</button> -->
          </div>
        </div>
      </div>
  </div>
{% endfor %}