   <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('https://images.unsplash.com/photo-1440964829947-ca3277bd37f8?q=80&fm=jpg&s=820fcc9dd26c0ede80f3b1663c543965');">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
                    <div class="site-heading"> 
                        <img src="/static/listview/badger.png" width="26%">
                        <h1 style="font-family: Lobster, cursive; font-size: 80px;">Book Badger</h1>
                        <hr class="small">
                        <span class="subheading">
                            Find Bestsellers by Genre<br>
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </header>