<form action="" target="_self" method="get">
      
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#select-filters" aria-expanded="false" aria-controls="select-filters">
        Search tools
    </a>
    <div class="collapse" id="select-filters">
    <div id="time-range">
          <!-- <p>Start date: <span class="slider-time"></span> 
              <br>End date: <span class="slider-time2"></span></p> -->
          <div class="sliders_step1">
              <!-- <div id="slider-range"></div> -->
            <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Select filters</h3>
                  </div>
                  <div class="panel-body">
                    <div style="">
                        Start date:
                        <input type="text" value = "{{s_date}}" id="start_datepicker" name="s_date"> <br>
                        End date:
                        <input type="text" value = "{{e_date}}" id="end_datepicker" name="e_date">
    <script>
  $("#datePickerSlider").dateRangeSlider();
  $("#datePickerSlider").editRangeSlider({bounds:{min: new Date(2015,1,1), max: new Date(2015, 9, 28)}});

  $("#datePickerSlider").bind("valuesChanged",
  
    function(e, data)
    {
      //Year-Month-Day
      //(1995-02-26)
      var startDate = "Start date: " + data.values.min.getDate() + "-" + (data.values.min.getMonth()+1) + "-" + data.values.min.getFullYear();
      var endDate = "End date: " + data.values.max.getDate() + "-" + (data.values.max.getMonth()+1) + "-" + data.values.max.getFullYear();
      document.getElementById("start_datepicker").value = "1-5-15";
      document.getElementById("end_datepicker").value = "6-6-15";
    
      console.log(startDate);
      console.log(endDate);
    }

  )
  </script>

            <div id= "datePickerSlider" >
                    </div>

                 <div style = "padding-top:10px">
               
                Select a genre: 
 
                <select name="genre">
                  <option value="All">All</option>
                  {%for genre in genres %}
                      <option value="{{genre}}">{{genre}}</option>
                  {% endfor %}
                </select>
                Sort by:
                <select name ="sort">
                  <option value ="rank">Rank</option>
                  <option value ="author">Author</option>
                  <option value ="rating">Rating</option>
                  <option value ="title">Title</option>
              </select>
              <!-- <button type="button" class="btn btn-primary">Submit</button> -->
              <input type="submit" style="margin-left:20px;" value="Search">
              <br>
              <br>
            </div>
              <br>
                  </div>
            </div>
            
          </div>
      </div>
  </div>
  </form>
</div>
