<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 

<html class="no-js"> <!--<![endif]-->
    <head>
        <title>Book Badger</title>

        {% include "head.html" %}

    </head>
    <body id="body">
        <!--[if lt IE 7]>
                <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Header area -->
        <header id="header" style="height:100%;">
            <div class="center text-center">
                <h1 class="bigheadline" style="padding-top:250px;">Book Badger</h1>
                <h4 class="subheadline">Find your next best read</h4>
            </div>
            <div class="bottom">
                <a data-scroll href="#navigation" class="scrollDown animated pulse" id="scrollToContent"><i class="pe-7s-angle-down-circle pe-va"></i></a>
            </div>
        </header>

        <!-- Navigation area -->
        <section id="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="logo"><a data-scroll href="#body" class="logo-text"><img src="http://2.bp.blogspot.com/-kI7NT2qPiIc/UYmslRbJhCI/AAAAAAAARWE/_RpOQNXz6bg/s800/animal_anaguma.png" style="width:14%;padding-right:20px;">Book Badger</a></div>
                    </div>
                    <div class="col-xs-6">
                        <div class="nav">
                              <ul class="nav navbar-nav pull-right">
                                  <li><a href="/?s_date={{s_date}}&e_date={{e_date}}&genre={{genre}}" style=""> <button type="button" class="btn btn-default">Cover view</button>
                                   </a> </li>
                                 </ul>
                                 

                           
                        </div>
                    </div>

                </div>
            </div>            
        </section>
        
        <!-- Content Area -->

        <!-- Testimonial Area -->

        <section id="testimonial" class="testimonial-area">
            <div class="container">
                <h2 class="block_title">About</h2>
                <div class="row">
                    <div class="col-xs-12">
                    </div>
                    <div class="moreDetails">
                                <!-- <h2 class="con-title">More About me</h2> -->
                                <center><p> Insert more info text here</p></center>
                    
                    
                    </div>
                </div>
            </div><!-- container -->
        </section><!-- testimonial -->

         <!-- services section -->

        <section id="services" class="service-area">
            <div class="container">
                <h2 class="block_title">Features</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="services">
                            <div class="service-wrap">    
                                <i class="pe-7s-science pe-dj pe-va"></i>
                                <h3>Sort By Genre</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="services">
                            <div class="service-wrap">
                                <i class="pe-7s-monitor pe-dj pe-va"></i>
                                <h3>View by cover</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="services">
                            <div class="service-wrap">
                                <i class="pe-7s-edit pe-dj pe-va"></i>
                                <h3>Sort by Goodreads Rating</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="services">
                            <div class="service-wrap">
                                <i class="pe-7s-config pe-dj pe-va"></i>
                                <h3>Search tools</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, commodi.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- services -->

            <div id="social">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <ul class="scoialinks">
                                <li class="normal-txt">All books and ratings from</li>
                               <img src="http://www.newspapers.psu.edu/wp-content/uploads/sites/1856/2013/02/NYTLogo.jpg" width="30%">
                 <br><br>
                        <img src="https://s.gr-assets.com/assets/press/logo-fe2ef7d630d5f23daf46230e8592cd99.png" width="30%">
                            </ul>
                        </div>
                    </div>
                </div>
            </div><!-- social -->
        </section><!-- contact -->

        <!-- Footer Area -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="copyright">© Copyright 2015 <a href="#" target="_blank">Book Badger</a></p>
                    </div>
                   
                </div>
            </div>
        </footer>

        <!-- Necessery scripts -->
{% include "importScripts.html" %}

    </body>
</html>

