  <hr>
  <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-4 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                     <small> All books are sourced from 
                      <br>
                      <img src="http://www.newspapers.psu.edu/wp-content/uploads/sites/1856/2013/02/NYTLogo.jpg" width="50%">
                        <!-- <span class="glyphicon glyphicon-cog"></span> -->
                        <br> Combined Print & E-Book Fiction Bestsellers List<br>
                        <br>
                        Ratings from <br>
                      </small>
                        <img src="https://s.gr-assets.com/assets/press/logo-fe2ef7d630d5f23daf46230e8592cd99.png" width="40%">
                         <p class="copyright text-muted">Copyright &copy; Gambit
                         </p>
                </div>
            </div>
        </div>
    </footer>