 <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-5 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="">
                        <h2 class="post-title">
                            {% if genre != "All" %} {{genre}}{% else %}
                            Fiction 
                             {% endif %}
                        </h2>
                        <h3 class="post-subtitle">
                             {% if genre != "All" %} Genre {% else %}
                            All
                             {% endif %}
                        </h3>
                    </a>
                  <!--   <p class="post-meta">{{s_date}} to {{e_date}}</p> -->
                     
                  
                </div>
                <!-- <hr> -->
                <!-- Pager -->
               <!--  <ul class="pager">
                    <li class="next">
                        <a href="#">More Books &rarr;</a>
                    </li>
                </ul> -->
            </div>
        </div>
    </div>