<html>
  {% include "head.html" %}
  <body>
    
  {% include "nav.html" %}
   {% include "pageHeader.html" %}
   {% include "listview/searchtoolsv3.html" %}
  {% include "listview/mainContent.html" %}
  <hr>
    <section class="container-fluid" id="section2">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center">
            <!-- <h1>New York Times Best Seller Books</h1> -->

            <!-- <p class="lead">
            <center>
            <h4>Currently showing books from {{s_date}} to {{e_date}}</h4> <br> -->
      
            <!-- Table -->
            <table class="sortable-theme-bootstrap" data-sortable style="width:100%;">
             <tr>
                <td> Rank </td>
                <td> Book Title </td>
                <td> Author </td>
                <td> Goodreads Rating </td>
                <td> Genre </td>
                
                {% for book in allbooks %}
                <tr>
                <td> {{book.rank}} </td>
                <td> <a href="#" data-toggle="modal" data-target="#{{book.goodreads_ID}}"> {{book.title}} </a> </td>
                <td> {{book.author}} </td>

                <td> <a href ={{book.goodreads_URL}}>{{book.rating}} </a> </td>
                <td> {{book.genre}} </td>
                </tr>
                {% include "modal.html" %}
                {% endfor %}
             </table></p>
             {% if previous != 0 %}<a href="/listview/?s_date={{s_date}}&e_date={{e_date}}&genre={{genre}}&page={{previous}}&sort={{sort}}">Previous</a> {% endif %} 
             {% if next != 0 %} <a href="/listview/?s_date={{s_date}}&e_date={{e_date}}&genre={{genre}}&page={{next}}&sort={{sort}}">Next</a> {% endif %}

            </center>
            <br> 
        </div>
      </div>
    </section>
     {% include "listview/footer.html" %}

    <!-- jQuery -->
    <!-- // <script src="static/listview/Template/js/jquery.js"></script> -->
<!-- <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script> -->
    <!-- Bootstrap Core JavaScript -->
    <script src="static/listview/Template/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/listview/Template/js/clean-blog.min.js"></script>
    <!-- Bootstrap select -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
     <script src="static/listview/bootstrap-select/js/bootstrap-select.js"></script>
    </body>
    <script src="listview/datepicker/js/bootstrap-datepicker.js"></script>

</html>
