<!--  TEMP STYLE AND SCRIPT SECTION, DO NOT USE IN FINIAL BUILD  -->
<style>

.search-tools.container
{
	transition: height 0.5s cubic-bezier(.36,.01,.4,1.37);
	overflow:hidden;
	background-color: grey;
	border-radius: 5px;
}
.search-tools.container.collapsed
{
	height:0;
}
.search-tools.container.expanded
{
	height:150px;
}

.search-tools.show-button
{
	border-radius: 5px;
	width:75px;
	margin:auto;
	text-align:center;
	color:white;
	background-color: red;
}

</style>


<div class="search-tools">
	<div class="search-tools show-button" id="show-search-button">
		<p>Search</p>
	</div>
	<div class="search-tools container collapsed">
		<form action="" target="_self" method="get">
			<div id="earlier-date-slider">
			</div>

			<div id="latest-date-slider">
			</div>

			<input type="submit" style="margin-left:20px;" value="Search">
		</form>
	</div>
</div>


<script>

var searchToolButton = document.getElementById("show-search-button");

var searchToolContainers = document.getElementsByClassName("search-tools container");


function ToggleSearchTools()
{
	for(var index = 0; index < searchToolContainers.length; index++)
	{
		var newClassName;
		if(searchToolContainers[index].className.includes("collapsed"))
		{
			newClassName = searchToolContainers[index].className.replace("collapsed", "expanded");
		}
		else
		{
			newClassName = searchToolContainers[index].className.replace("expanded", "collapsed");
		}
		searchToolContainers[index].className = newClassName;
	}
}

searchToolButton.addEventListener("click",ToggleSearchTools,false);
</script>