   <!-- Search tools -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-lg-offset-0 col-md-2 col-md-offset-2">
                 <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> <span class="glyphicon glyphicon-cog"></span>
                Search tools
                </a>
                
                
            </div>
        </div>
    </div>
       <div class="collapse" id="collapseExample">
      <div class="well">
        <div class="page-header">

            <h4>Currently displaying bestsellers from  <small>{{s_date}} to {{e_date}}</small></h4>
          </div>
                          
              <form class="form-inline" action="" target="_self" method="get">
                Genre:
 
                <select class="form-control" name="genre">
                  <option value="All">All</option>
                  {%for genre in genres %}
                      <option value="{{genre}}">{{genre}}</option>
                  {% endfor %}
              </select>
              <!-- <button type="button" class="btn btn-primary">Submit</button> -->
              <!-- <input type="submit" style="margin-left:20px;" value="Search"> -->
           
           
            <div class="input-group date">
                    Start date:
                    <input type="text" class="date-picker" data-provide="datepicker" data-date-format="dd-mm-yy" value="{{s_date}}" id="start_datepicker" name="s_date" >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
              
                     End date:
                
                    <input data-provide="datepicker" type="text" class="date-picker" id="end_datepicker" name="e_date" data-date-format="dd-mm-yy" value="{{e_date}}" >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                
            </div>
              <button type="submit" class="btn btn-default">Search</button>
              
          </form>
     </div>
  
    
    </div>
    </div>