
              <form class="form-inline" action="" target="_self" method="get">
                Genre:
 
                <select class="form-control" name="genre">
                  <option value="All">All</option>
                  {%for genre in genres %}
                      <option value="{{genre}}">{{genre}}</option>
                  {% endfor %}
              </select>
              <!-- <button type="button" class="btn btn-primary">Submit</button> -->
              <!-- <input type="submit" style="margin-left:20px;" value="Search"> -->
           
            <div class="input-group date">
                    Start date:
                    <input type="text" class="date-picker" data-provide="datepicker" data-date-format="dd-mm-yy" value="{{s_date}}" id="start_datepicker" name="s_date" >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
              
                     End date:
                
                    <input type="text" class="date-picker" id="end_datepicker" name="e_date" data-provide="datepicker" data-date-format="dd-mm-yy" value="{{e_date}}" >
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                
            </div>
              <button type="submit" class="btn btn-default">Search</button>
          </form>
    
  
    
  